# Fraudulent Transaction Detection

In [1]:
#Import Libraires
import pandas as pd

In [2]:
#Read CSV file to access data
DF = pd.read_csv('Final Transactions.csv')

# DATA CLEANING

In [3]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1754155 entries, 0 to 1754154
Data columns (total 10 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   TRANSACTION_ID     int64
 2   TX_DATETIME        object
 3   CUSTOMER_ID        int64
 4   TERMINAL_ID        int64
 5   TX_AMOUNT          float64
 6   TX_TIME_SECONDS    int64
 7   TX_TIME_DAYS       int64
 8   TX_FRAUD           int64
 9   TX_FRAUD_SCENARIO  int64
dtypes: float64(1), int64(8), object(1)
memory usage: 133.8+ MB

In [4]:
DF.head(3)

,Unnamed: 0,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD,TX_FRAUD_SCENARIO
0,0,0,2023-01-01 00:00:31,596,3156,533.07,31,0,0,0
1,1,1,2023-01-01 00:02:10,4961,3412,808.56,130,0,0,0
2,2,2,2023-01-01 00:07:56,2,1365,1442.94,476,0,1,1

Change DataType for TX_DATETIME

In [5]:
#Change Datatype of column
DF.TX_DATETIME= pd.to_datetime(DF.TX_DATETIME)
print(DF.TX_DATETIME.head(3))

0   2023-01-01 00:00:31
1   2023-01-01 00:02:10
2   2023-01-01 00:07:56
Name: TX_DATETIME, dtype: datetime64[ns]

# Feature Engeneering

In [12]:
DF.head()

,TX_DATETIME,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD
0,2023-01-01 00:00:31,3156,533.07,31,0,0
1,2023-01-01 00:02:10,3412,808.56,130,0,0
2,2023-01-01 00:07:56,1365,1442.94,476,0,1
3,2023-01-01 00:09:29,8737,620.65,569,0,0
4,2023-01-01 00:10:34,9906,490.66,634,0,0

In [11]:
# FUNCTION DROPS COLUMNS FROM DF 

    ## *col represents a variable number of arguments
def drop_from_df(dataframe,*col):
    ## *col arguments return tuples therefore list(col) converts the items into a list.
    dataframe = dataframe.drop(columns= list(col))
    return dataframe

# ADJUST DF TO DROPPED COLUMNS
DF = drop_from_df(DF,'Unnamed: 0','CUSTOMER_ID','TRANSACTION_ID','TX_FRAUD_SCENARIO')

In [ ]:
#### Create a function to separate date and time